<html>
<head>
       <title>Photo Upload Example</title>
</head>
<body>
<div>File named {{ .fileName }} was successfully uploaded!</div>
<div>View the album <a href={{ .albumURL }}>here</a>, or <a href="/">upload another file.</a></div>
</body>
</html>
