<html>
<head>
       <title>Photo Upload Example</title>
</head>
<body>
<div>Album: {{ .albumName }}</div>
<div><a href="/">Upload more photos.</a></div>
<div>
{{range .photoIDs}}
      <img src="http://localhost:4572/mockallthethings-example/{{.}}"/>
{{end}}
</div>
</body>
</html>
